In [2]:
import pandas as pd

In [10]:
raw_df = pd.read_csv("../data/processed/list_of_inventor_city_state.csv", 
                    usecols=["inventor_city_name", "inventor_region_code"])

print(len(raw_df.drop_duplicates()))
raw_df.head(3)

137475

  inventor_city_name inventor_region_code
0            Bedford                   MA
1          Wellesley                   MA
2          Littleton                   MA

In [11]:
city2fips_df = pd.read_csv("../data/complementary/uscities.csv", 
                           usecols=["city", "state_id", "county_fips"])

print(len(city2fips_df))
city2fips_df.head(3)

28338

          city state_id  county_fips
0     New York       NY        36061
1  Los Angeles       CA         6037
2      Chicago       IL        17031

In [16]:
df = pd.merge(raw_df, city2fips_df, left_on=["inventor_city_name", "inventor_region_code"],
              right_on=["city", "state_id"], how='right')

na_df = df[df["inventor_city_name"].notnull()==False]
print(len(na_df))
df.head(3)

10996

  inventor_city_name inventor_region_code        city state_id  county_fips
0            Melrose                   MA     Melrose       MA        25017
1            Waltham                   MA     Waltham       MA        25017
2         San Marino                   CA  San Marino       CA         6037

In [17]:
na_df.head(30)

,inventor_city_name,inventor_region_code,city,state_id,county_fips
17342,NaN,NaN,Paradise,NV,32003
17343,NaN,NaN,Spring Valley,NV,32003
17344,NaN,NaN,Sunrise Manor,NV,32003
17345,NaN,NaN,Enterprise,NV,32003
17346,NaN,NaN,Bayam처n,PR,72021
17347,NaN,NaN,Arden-Arcade,CA,6067
17348,NaN,NaN,South Fulton,GA,13121
17349,NaN,NaN,Alafaya,FL,12095
17350,NaN,NaN,Town 'n' Country,FL,12057
17351,NaN,NaN,Pine Hills,FL,12095
17352,NaN,NaN,Casas Adobes,AZ,4019
17353,NaN,NaN,Florence-Graham,CA,6037
17354,NaN,NaN,The Hammocks,FL,12086
17355,NaN,NaN,Mayag체ez,PR,72097
17356,NaN,NaN,Fountainebleau,FL,12086
17357,NaN,NaN,South Whittier,CA,6037
17358,NaN,NaN,South Hill,WA,53053
17359,NaN,NaN,Tamiami,FL,12086
17360,NaN,NaN,Kendale Lakes,FL,12086
17361,NaN,NaN,Stonecrest,GA,13089
17362,NaN,NaN,Milford city,CT,9009
17363,NaN,NaN,Aspen Hill,MD,24031
17364,NaN,NaN,Methuen Town,MA,25009
17365,NaN,NaN,Catalina Foothills,AZ,4019
17366,NaN,NaN,Country Club,FL,12086
17367,NaN,NaN,Tuckahoe,VA,51087
17368,NaN,NaN,University,FL,12057
17369,NaN,NaN,Bel Air South,MD,24025
17370,NaN,NaN,Florin,CA,6067
17371,NaN,NaN,East Honolulu,HI,15003