In [1]:
import pandas as pd

In [4]:
city2county_df = pd.read_csv("../data/complementary/us_cities_states_counties_raw.csv", sep="|")
city2county_df = city2county_df.drop(columns="City alias").drop_duplicates()
city2county_df.head(3)

         City State short   State full    County
0  Holtsville          NY     New York   SUFFOLK
2    Adjuntas          PR  Puerto Rico  ADJUNTAS
6      Aguada          PR  Puerto Rico    AGUADA